@import "./variable.scss";


.filter-label {
    font-size: 14px;
    line-height: 16px;
    color: $grey-dark;


}

.filter-container {
    background: var(--new-neutral-bg-dark);
    border-radius: 4px;
}

.calender {
    border-radius: 4px;
    border: 0.5px solid $grey;

    .custom-date-picker {

        &__icon {
            background: $grey-300;
            padding: 5px;
            border-radius: 5px 0px 0px 5px;
            //   transform: translateY(-50%);
            z-index: 1;
        }

        &__input {
            @extend %font-lexend;
            font-size: 14px;
            line-height: 19px;
            padding: 8px 5px;
            border: 0px solid $grey;
            border-radius: 0px 5px 5px 0px;
            cursor: pointer;
            background: $grey-300;
            color: $primary;
        }

        &__arrow {
            position: absolute;
            right: 7%;
            cursor: pointer;
            color: $primary;
        }

    }

}

.arrow {
    font-size: 14px;
    color: $black;

}

.dark {
    border-color: $black transparent transparent transparent;
}

.flatpickr-months {
    background-color: $primary !important;

}

span.flatpickr-weekday {
    background: $primary !important;

}

.flatpickr-weekdays {
    background-color: $primary !important;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
    background-color: $primary !important;
    border-color: $primary !important;
}

.flatpickr-day.today {
    border-color: $primary !important;
}

.flatpickr-day.selected.startRange+.endRange:not(:nth-child(7n+1)),
.flatpickr-day.startRange.startRange+.endRange:not(:nth-child(7n+1)),
.flatpickr-day.endRange.startRange+.endRange:not(:nth-child(7n+1)) {
    box-shadow: -10px 0 0 $primary !important;
}

// custom - Select css

.custom-select {

    width: 100%;
    box-sizing: border-box;

    .control {
        background-color: $white;

        &:hover {
            cursor: pointer;
        }
    }

    .value-container {
        @extend %font-lexend;
        font-size: 14px;

    }

    div.option {
        &:hover {
            background: var(--new-nuetral-borders);

        }
    }

    div.option.selected {
        background-color: $grey-300;
    }

    .menu-container {
        min-height: auto !important;
        max-height: fit-content !important;
        border-radius: 10px;
        background: $white;
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.15), -1px -1px 5px 0px rgba(0, 0, 0, 0.15);
        padding: 20px;
        width: 100%;
        position: absolute;
        z-index: 100;


        .menu {
            position: initial;
            box-shadow: none;
            margin: 0;



            .menu-list {
                padding: 0;

            }
        }

        .bs-searchbox {
            display: flex;
            flex-direction: row;

            input {
                display: flex;
                height: 32px;
                padding: 10px 10px 10px 20px;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;
                border-radius: 50px;
                border: 0.5px solid $grey;
                background: $white;

                &:focus {
                    border: 0.5px solid $primary;
                }
            }

            .search {
                position: absolute;
                right: 30px;
                top: 25px;

            }
        }

        .btm-line {
            height: 1px;
            margin: 10px;

            background: rgba(128, 128, 128, 0.40);

        }

    }

    div.option label {
        @extend %font-lexend;
        position: relative;
        display: grid;
        grid-template-columns: 22px auto;
        align-items: center;
        width: 100%;
        padding: 5px 8px !important;
        margin: 1px 0;
        font-size: 14px;
        font-weight: 400 !important;
        line-height: 1;
        cursor: pointer;

        input {
            margin-right: 14px;
            width: 14px;
            height: 14px;
        }

        .from-check-input :checked {
            background-color: $primary !important;
            border-color: $primary !important;
        }

    }


}

// Radio Select 

.severity-container {
    display: flex;
    flex-direction: column;

    .severity-buttons {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;


    }

    .selected {
        border: 1.5px solid $primary;
        background: $white;
    }


}

.custom-radio {
    @extend %font-lexend;
    font-size: 14px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    border-radius: 25px;
    background: inherit;
    padding: 5px 15px 5px 25px;
    border: 0.5px solid #c9c9c9;
    text-transform: capitalize;


    &:hover {
        background: $grey-300;
        border-color: $primary;
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

}

.table-label {

    @extend %font-regular;
    font-weight: 400;
    font-size: 14px;
    padding: 5px 15px 5px 25px;
    pointer-events: none;
    cursor: default;
}

.low {
    @include severity($severity: $Low);
}

.medium {
    @include severity($severity: $Medium);
}

.high {
    @include severity($severity: $High);
}

.default {
    @include severity($severity: $default);
}

.untriaged {
    @include severity($severity: $untrigred);
}

.critical {
    @include severity($severity: $cirtical);
}

// search bar 

.search-bar {
    position: relative;
    width: 100%;

    input {
        display: block;
        width: 100%;
        padding: 0.5rem 0.9rem;
        font-size: 0.8125rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--vz-body-color);
        background-color: var(--vz-input-bg);
        background-clip: padding-box;
        border: 1px solid $grey;
        appearance: none;
        border-radius: 2rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    input:focus {
        border: 1px solid $primary;
    }

    .search {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

.css-1jqq78o-placeholder {
    color: black !important;
}

.r-30 {
    right: 30px !important;
}

.checkbox-label {
    @extend %font-regular;
    line-height: 16px;
}

.title2 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.time {
    color: var(--new-neutral-labels);
}