// @import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;700;800;900&display=swap");



@font-face {
  font-family: "Lexend Deca";
  src: url("./fonts/LexendDeca-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Lexend Deca";
  src: url("./fonts/LexendDeca-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Lexend Deca";
  src: url("./fonts/LexendDeca-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Lexend Deca";
  src: url("./fonts/LexendDeca-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Lexend Deca";
  src: url("./fonts/LexendDeca-Bold.ttf");
  font-weight: 700;
}

// Lexend Deca
// @import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500&display=swap");

@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito-Light.ttf");
  // src: local("Nunito light"),
  //  url("./fonts/Nunito-Light.ttf") format("tff");
  font-weight: 300;
}

@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito-Bold.ttf");
  font-weight: 700;
  }